body, html {
    margin: 0;
    padding: 0;
    font-family: "Livvic", sans-serif;
    font-style: normal;
    overflow: hidden;
}

.site-header {
    background-color: #0664A4;
    padding: 10px 0;
    border-bottom: 1px solid #0664A4;
    position: relative;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navigation .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-links a {
    text-decoration: none;
    color: #ECFAFD;
    font-family: "Livvic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-header {
    position: relative;
    background-color: #0664A4;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("home-bckgrd.svg");
    height: calc(100vh - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}


.header-content {
    position: relative;
    z-index: 1;
    backdrop-filter: blur(1px);
    padding: 20px;
    border-radius: 10px;
}

.header-content h1 {
    font-size: 4em;
    font-weight: 400;
    color: #ECFAFD;
    margin: 0;
}

.header-content h2 {
    font-size: 2em;
    font-weight: 300;
    color: #ECFAFD;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .header-content h1 {
        font-size: 3em;
    }

    .header-content h2 {
        font-size: 1.5em;
    }

    .navigation .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #ECFAFD;
    }

    .navigation .nav-links a {
        padding: 10px 0;
        text-align: center;
        border-bottom: 1px solid #0664A4;
    }

    .navigation .menu-toggle {
        display: flex;
    }

    .navigation.active .nav-links {
        display: flex;
    }
}

@media (max-width: 480px) {
    .header-content h1 {
        font-size: 2em;
    }

    .header-content h2 {
        font-size: 1.2em;
    }
}

